---
BasedOnStyle: LLVM
Language: Cpp
Standard: c++17
IndentWidth: 2
TabWidth: 2
UseTab: Never
IndentAccessModifiers: true
AccessModifierOffset: -2
BreakBeforeBraces: Attach
AlignAfterOpenBracket: BlockIndent
BinPackParameters: false
BinPackArguments: false
ContinuationIndentWidth: 2
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
PackConstructorInitializers: CurrentLine
ConstructorInitializerIndentWidth: 0
NamespaceIndentation: All
PointerAlignment: Right
ReferenceAlignment: Right
SpaceAfterTemplateKeyword: false
SpacesInAngles: Never
KeepEmptyLinesAtTheStartOfBlocks: true
MaxEmptyLinesToKeep: 1
SortIncludes: Never
IncludeBlocks: Preserve
ColumnLimit: 80
